 html, body{ margin: 0px; padding: 0px; }
        .splash{ z-index: 100; position: absolute; top: 0px; left: 0px; width: 100%;  height: 100%; background:  #D7EEF4; /*  #FFF; /*4682B4; */display:  table-cell; }
        .splash  .block {
                width: 250px;
                height: 250px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                text-align: center;
                }

        .splash  .block  img {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
                border: none;
            
                 }
        .splash .console{
            position: absolute; bottom: 0px; left:  0px; width: 100%;  
        }
        .progress{ height: 20px; width: 0%;  border: 1px solid  #FFF; background: coral; border-radius: 10px;}


        .contaiener{ position: absolute;  top: 0px; left: 0px; width: 100%; min-height: 100%; background:#D7EEF4;
            display:  table-cell; box-shadow: 3px 3px 10px #000;  }

        .contaiener .nav_bar { position: fixed;  width : 100%; height: 40px;  background:/* #2f323e; */ color: #000;}

        .contaiener .pckg_conteiner .menu_packgs{ position: fixed; top: 0px;  left: 0px; width: 210px; height: 100%; background:#D7EEF4; color: #CCC; border: 1px solid #000;} 
        .contaiener .pckg_conteiner .menu_packgs .pckg_catgs li { list-style: none; background:#D7EEF4; }
        .contaiener .pckg_conteiner .menu_packgs .pckg_catgs li a{text-decoration: none;  color : #000;  background:#D7EEF4f323e; ;}
        .contaiener .pckg_conteiner .menu_packgs .pkg_list{ position: relative; top:0px; left: -170px; width: 170px; height: 100%; overflow: auto; color: coral; }
        .contaiener .pckg_conteiner .menu_packgs .pkg_list li{list-style: none;}
        .contaiener .pckg_conteiner .menu_packgs .pkg_list li a { text-decoration: none; color: #000;} 
    
        .contaiener .search_fld { margin: 0 auto;  background:#D7EEF4; }
        .contaiener .search_fld #inS{ width: 50%; color: #2F323E; font-size: 19px; padding: 5px; margin-top:  60px;  border: 1px solid #2F323E; border-radius: 8px;}

        * li {list-style: none;}
        * li  a{ text-decoration: none; }

        .contaiener .search_fld .btn { padding: 10px; font-size: 18px; color: #000; background:#D7EEF4;  border-radius: 5px; border: 1px solid #444; box-shadow: 4px 4px 10px #000; margin-left: 3px ; text-decoration: none;}

        .contaiener .search_fld .link_panel{ margin-top: 7px; padding-bottom: 7px; box-shadow: 0px 7px 4px #000; }
        .contaiener .search_fld .link_panel li{ display: inline; }
       
        .contaiener .search_fld .link_panel li a{ padding: 11px;  font-size: 14px; color:#000;  margin: 0px;}
        .contaiener .search_fld .link_panel li a:hover{ background: coral; color: #000;}
        #pack_container{ background: #000; }
        .nav_memu{position: fixed; top: 0px; left: 0px; width: 40px;  height: 100%; margin: 0px; background:#D7EEF4; padding: 5px;} 
       .nav_memu li a{ color: #000;}  
        .card div .Use { overflow: hidden; }
       .card{  }  
        .card div { max-width: 50%; padding: 20px; border: 1px solid #000; border-radius: 0px; background:#D7EEF4;   
             /* -webkit-filter: blur(5px);
              -moz-filter: blur(5px);
              -o-filter: blur(5px);
              -ms-filter: blur(5px);
              filter: blur(5px);*/
            margin: 10px;
            font-size: 14px;
            float: left;

            box-shadow: 3px 4px 10px #000;

         }
        * [class*='repo'] { background: coral; /*cadetblue; */}
        li[text='name'] { background: coral; }
        a[textContent*='"Install"'] {color: #000;}

        .card div span{ float: initial;  font-size: 16px;}
        #pack_list .card div p a{ color: #000;
                        float: right;
                        text-decoration: none;
                        font-size: 14px;
                        background: coral;
                        padding: 10px;
                        border-radius: 3px;}
        #pack_list .catalog {  }
        #pack_list .card div ul {display: flex; color: coral;}
        
        #pack_list .card div ul li { margin-left: 5px; margin-right: 5px; color: #000; }

        #pack_list {color: #000; text-align: left; border: 1px solid #000;
        box-shadow: 3px 4px 10px #000; width: 85%; padding: 15px;}
        .repo { display: list-item; background: coral;}
        .repo { display: table-cell; margin: 20px; }
        #pack_list li a{ color: coral;}
        #pack_list a{ color: coral; }
        .Sv  p{ text-align: center; }
        .Sv p select {margin-left: 31px}
        .Sv p input {margin-left: 31px} 
        #pack_list #ps_menu {display: inline-flex; border-right: 1px solid #333; }
        #pack_list #ps_menu li{padding: 5px; border: 3px  outset #666; }
        #pack_list #ps_menu li a {color: #000;}
        #pack_list #edit {width: 80%; min-height: 300px; overflow-y: scroll; border:  1px solid #000;  }